/* #owl-demo .item{
    background: #42bdc2;
    padding: 30px 0px;
    margin: 10px;
    color: #FFF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
} */
html {
  box-sizing: border-box;
}

small {
  font-size: 80% !important;

}  

.logo {
  height: 2.5rem;
}

.my-class {
  width: 100%;
  /* border: 1px solid black; */
  /* margin-top: 20vh; */
}

.card-image-top {
  /* border: 1px solid black; */
}

.owl-carousel {
  /* border: 1px solid black; */
}

.card {
  margin: 0 auto;
}

.btn-primary {
  width: 100%;
}

.spacing {
  list-style: " ";
}

.rotate {
  white-space: nowrap;
  width: 0;
}

.rotate p{
    transform: translate(2rem, 70px) rotate(-90deg);
}